/* MAIN STYLE CSS */
/* Note: Màu background của body lấy màu từ global css */
body {
  background-color: var(--background-color);
}

/* --------------------HEADER-------------------- */
.header {
  /* Giữ header khi scroll */
  position: fixed;
  top: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid rgba(231, 231, 231, 0.14);
  padding: 15px 0;
  transition: all 0.5s;
}

/* Note: openMenu và active là hai class động xử lý với main.js */
.header.openMenu {
  background-color: rgba(0, 0, 0, 0.5);
}

.header.active {
  background-color: var(--background-color);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.07);
}

/* Brand - Navbar brand */
.header .navbar-brand {
  display: flex;
  order: -2; /* Đặt thứ tự hiển thị là -2 trong flex container */
}

.header__logo i {
  color: var(--primary-color);
  font-size: 3.2rem;
}

.header.active .header__brand {
  color: var(--title-color);
}

.header__brand {
  margin-left: 4px;
  transition: all 0.4s;
}

.header__brand h1 {
  font-size: 3.3rem;
  line-height: 1;
  font-weight: 600;
}

.header__brand span {
  font-size: 1.4rem;
  line-height: 1;
  font-weight: 600;
  margin-left: 10px;
  opacity: 0.8;
}

/* Navigation - List link */
.header .navbar-nav {
  margin: auto;
}

.header .nav-item {
  margin: 0 5px;
}

.header .nav-item .nav-link {
  color: var(--white-color);
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
  opacity: 0.7;
  transition: all 0.4s;
}

/* Điều chỉnh màu cho Nav Link được chọn */
.header.active .nav-item .nav-link {
  color: var(--title-color);
}

.header.active .nav-item.show .nav-link,
.header.active .nav-item:hover .nav-link,
.header.active .nav-item.active .nav-link {
  color: var(--primary-color);
}

/* Điều chỉnh màu khi hover Nav Link */
.header .nav-item.show .nav-link,
.header .nav-item:hover .nav-link,
.header .nav-item.active .nav-link {
  color: var(--white-color);
  opacity: 1;
}

/* Phần Nav Link bậc con */
.header .dropdown-toggle::after {
  display: none;
}

.header .dropdown-menu {
  background-color: var(--background-color);
  width: 190px;
  left: 50%;
  margin: 0;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  transform: translateX(-50%) translateY(4px);
}

.header .dropdown-menu::before {
  content: "";
  background-color: var(--background-color);
  display: block;
  width: 14px;
  height: 14px;
  border: 1px solid var(--border-color);
  border-width: 1px 0 0 1px;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.header .dropdown-menu .dropdown-item {
  color: var(--title-color);
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 6px 20px;
  opacity: 0.8;
  transition: all 0.2s;
}

.header .dropdown-item:focus,
.header .dropdown-item:hover {
  background-color: unset;
  opacity: 1;
}

/* Điều chỉnh Navbar Collapse Bootstrap */
.header .navbar-collapse.collapsing,
.header .navbar-collapse.show {
  text-align: center;
}

/* Nút Navigation */
/* Note: Hiển thị khi thu nhỏ màn hình */
.header .navbar-toggler {
  background-color: var(--primary-color);
  margin-left: 16px;
  height: 34px;
  width: 34px;
}

.header .navbar-toggler i {
  color: white;
  display: none;
  font-size: 2rem;
}

/* Note: Hiển thị .bar-icon khi .navbar-toggler có class 'collapsed' */
.header .navbar-toggler.collapsed .bar-icon {
  display: block;
}

/* Note: Hiển thị .bar-icon khi .navbar-toggler không có thuộc tính aria-expanded */
.header .navbar-toggler:not([aria-expanded]) .bar-icon {
  display: block;
}

.header .navbar-toggler[aria-expanded] .close-icon {
  display: block;
}

.header .navbar-toggler.collapsed .close-icon {
  display: none;
}

/* Phần nút search và nút switch theme */
.header__right {
  display: flex;
  align-items: center;
  margin-left: auto;
}

/* SEARCH */
.header__search .search-icon {
  color: white;
  background-color: var(--primary-color);
  text-align: center;
  width: 45px;
  height: 45px;
  font-size: 1.6rem;
  line-height: 45px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s;
}

.header__search.active .search-icon {
  color: transparent;
  transform: scale(60);
}

/* THEME */
.header__theme {
  width: 30px;
  text-align: center;
  padding: 4px 4px;
  margin: 6px 0 0 12px;
  cursor: pointer;
}

.header__theme .sun-icon {
  color: white;
  display: none;
  font-size: 2.8rem;
}

.header__theme .moon-icon {
  color: white;
  font-size: 2.8rem;
}

/* Note: Xử lý nhận 'dark' trong main.js */
.header.active .header__theme .moon-icon {
  color: var(--title-color);
}

.header__theme.dark .sun-icon {
  display: block;
}

.header__theme.dark .moon-icon {
  display: none;
}

/* --------------------SEARCH TRÊN HEADER-------------------- */
/* Note: Xử lý cùng với phần function trong main.js */
.search__form {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 3;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: none;
}

.search__form .close-icon {
  color: white;
  position: absolute;
  top: 10%;
  right: 20%;
  font-size: 7rem;
  cursor: pointer;
}

.search__form input {
  /* Kích thước chữ là giá trị nhỏ hơn giữa 10% chiều rộng viewport và 5.4rem */
  font-size: min(10vw, 5.4rem);
  background-color: unset;
  outline: none;
  border: none;
  color: white;
  height: 50vh;
  padding: 10vw;
  min-width: 250px;
}

.search__form input::placeholder {
  color: white;
}

/* --------------------CAROUSEL-------------------- */
/* Item */
.carousel-corp .carousel-item {
  height: 800px;
}

.carousel-corp .carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Caption */
.carousel-corp .carousel-item .carousel-caption {
  left: 0;
  right: 0;
  top: 50%;
  text-align: left;
  z-index: 1;
  transform: translateY(-50%);
}

.carousel-corp .carousel-caption h3 {
  font-size: 6.5rem;
  font-weight: 600;
  max-width: 800px;
  margin-bottom: 0.3em;
}

.carousel-corp .carousel-caption p {
  color: white;
  font-size: 2rem;
  max-width: 600px;
  margin-bottom: 1.7em;
}

/* Control Button */
.carousel-corp .carousel-control-next,
.carousel-corp .carousel-control-prev {
  background: black;
  border: 1px solid var(--border-color);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: var(--background-color);
  opacity: 1;
  left: unset;
  top: unset;
  bottom: 50px;
  z-index: 2;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.carousel-corp .carousel-control-next {
  right: 25px;
}

.carousel-corp .carousel-control-prev {
  right: 95px;
}

.carousel-corp .carousel-control-next i,
.carousel-corp .carousel-control-prev i {
  color: var(--title-color);
}

.carousel-overlay {
  position: absolute;
  inset: 0;
  background-color: var(--layer-color);
}

.carousel-corp .carousel-shape {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.carousel-corp .carousel-shape svg {
  fill: var(--background-color);
}

/* --------------------FOOTER-------------------- */
.footer {
  background-color: var(--background-dark);
}

/* Footer Contact */
.footer__contact {
  background-image: url("../img/map.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.footer__heading {
  max-width: 700px;
  margin: 0 auto;
}

.footer__heading h2 {
  color: var(--white-color);
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 24px;
}

.footer__heading p {
  color: var(--white-color);
  font-size: 1.7rem;
  opacity: 0.6;
  margin: 0;
}

/* Form contact */
.footer__form {
  display: flex;
  align-items: center;
  max-width: 550px;
  height: 58px;
  border-radius: 10px;
  margin: 44px auto 0;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.05);
}

.footer__form i {
  font-size: 16px;
  color: #999999;
  padding: 0 16px;
  height: 100%;
  line-height: 58px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: rgba(0, 0, 0, 0.2);
}

.footer__form input {
  flex: 1;
  height: 100%;
  outline: none;
  font-weight: 300;
  border: none;
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-left: none;
  border-right: none;
  color: #999;
  padding: 16px;
  word-break: break-all;
  overflow: hidden;
}

.footer__form input:focus {
  color: #111;
}

.footer__form button {
  padding: 0 25px;
  height: 100%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* Divider */
.footer .divide {
  border-top: 1px solid rgba(249, 249, 249, 0.1);
}

/* Main Footer Content */
.footer__logo {
  margin-right: 2%;
}

.footer__logo i {
  font-size: 3rem;
  color: var(--primary-color);
}

.footer .footer-brand {
  display: flex;
  margin-bottom: 24px;
}

.footer__brand {
  margin-left: 4px;
  color: var(--white-color);
}

.footer__brand h1 {
  font-size: 3rem;
  line-height: 1;
  font-weight: 600;
}

.footer__brand span {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1;
}

.footer__item h3 {
  color: var(--white-color);
  font-size: 2.2rem;
  margin-bottom: 20px;
}

.footer__item p {
  color: #9da1a5;
  opacity: 0.8;
  font-size: 1.8rem;
  line-height: 2.8rem;
}

.footer__item ul {
  margin: 0;
  padding: 0;
}

.footer__item li {
  color: #9da1a5;
  opacity: 0.8;
  font-size: 1.8rem;
}

.footer__item li:not(:last-of-type) {
  margin-bottom: 8px;
}

.footer__item li a {
  color: #9da1a5;
  opacity: 0.8;
  font-size: 1.8rem;
  transition-property: color, opacity;
  transition-duration: 0.3s;
}

.footer__item li a:hover {
  color: var(--white-color);
  opacity: 1;
}

/* Social Link */
.footer__item .social-link {
  margin-top: 16px;
}

.footer__item .social-link a {
  margin-right: 16px;
}

.footer__item .social-link i {
  color: #9da1a5;
  font-size: 1.6rem;
  opacity: 0.8;
  transition-property: color, opacity;
  transition-duration: 0.3s;
}

.footer__item .social-link i:hover {
  color: var(--white-color);
  opacity: 1;
}

/* Footer Copyright */
.footer__copyright p {
  color: #9da1a5;
  font-size: 1.7rem;
  margin: 0;
  padding: 24px 0;
}

.footer__copyright a {
  color: var(--primary-color);
  transition: color 0.4s;
}

.footer__copyright a:hover {
  color: var(--white-color);
}

/* --------------------About-------------------- */
/* Information - Left Content */
.about .title {
  color: var(--title-color);
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 30px;
  margin-bottom: 0px !important;
  text-align: left;
}

.about .content {
  color: var(--text-color);
  font-size: 1.7rem;
  font-weight: 400;
  opacity: 0.8;
  margin: 24px 0 32px;
}

.about ul {
  padding: 0;
}

.about li {
  list-style: none;
  font-size: 18px;
  font-weight: 600;
}

.about li:not(:last-of-type) {
  margin-bottom: 15px;
}

.about li a {
  color: var(--title-color);
}

.about li i {
  color: var(--primary-color);
  opacity: 0.8;
  margin-right: 4px;
}

/* Images - Right Content */
.about img {
  border-radius: 10px;
  max-width: 100%;
}

.about .img-down {
  margin-top: 24px;
  border-radius: 10px;
  margin-bottom: 32px;
}

/* --------------------FEATURE-------------------- */
.feature {
  background-color: var(--bg-grey-color);
}

/* Information - Left Content */
.feature h4 {
  color: var(--sub-title-color);
  text-align: left;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 30px;
  margin-bottom: 0px !important;
}

.feature h2 {
  color: var(--title-color);
  font-size: 35px;
  line-height: 45px;
  font-weight: 700;
}

.feature p {
  color: var(--text-color);
  margin-top: 24px;
  margin-bottom: 48px;
  font-size: 17px;
  line-height: 27px;
  opacity: 0.8;
}

/* Cards - Right Content */
.feature .d-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}
.feature .grids-1 {
  transition: all 0.5s;
}

.feature .box-wrap {
  background-color: var(--background-color);
  padding: 40px 30px;
  border-radius: 10px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 100%;
}

.feature .grids-1:hover {
  transform: translateY(-2%);
  box-shadow: 0px 5px 10px 0px rgb(0, 0, 0, 15%),
    0px 5px 10px 0px rgb(75, 75, 75, 30%);
}

.feature .box-wrap a {
  color: var(--title-color);
  display: block;
  margin-top: 25px;
  font-size: 22px;
  line-height: 22px;
  font-weight: 600;
  transition: color 0.3s;
}

.feature .box-wrap a:hover {
  color: var(--primary-color);
}

.feature .icon img {
  width: 64px;
}

/* --------------------BACK TO TOP-------------------- */
.backToTop {
  text-align: center;
  color: white;
  background-color: var(--primary-color);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: fixed;
  bottom: 16px;
  right: 16px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 1.5rem;
  line-height: 50px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;
  transform: translateY(50px);
}

.backToTop:hover {
  opacity: 1 !important;
  color: white;
}
.backToTop.active {
  transform: translateY(0);
  visibility: visible;
  opacity: 0.8;
}
