/* SERVICES PAGE CSS */
/* Note: Màu background của body lấy màu từ global css */
body {
  background-color: var(--background-color);
}

/* ----------------INTRODUCE---------------- */
.introduce {
  background: var(--bg-grey-color);
  padding-top: 70px;
}

.introduce .introduce__left {
  background: var(--background-color);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 81px 50px;
  text-align: center;
}

.introduce .introduce__left img {
  width: 50px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.introduce .introduce__left h3 {
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  color: var(--title-color);
}

.introduce .introduce__left p {
  color: var(--sub-title-color);
}

.introduce .introduce__right img {
  width: 100%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* ----------------SOLUTIONS---------------- */
.solutions-part .solutions-part__item {
  background-color: var(--bg-grey-color);
  padding: 50px 35px;
  position: relative;
  border-radius: 8px;
  display: grid;
  grid-auto-flow: column;
  gap: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.solutions-part .solutions-part__item i {
  font-size: 38px;
  width: 40px;
  color: var(--primary-color);
}

.solutions-part .solutions-part__info a {
  display: block;
  color: var(--title-color);
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 15px;
  font-size: 22px;
  letter-spacing: 0;
  transition: 0.3s ease;
}

.solutions-part .solutions-part__info p {
  color: var(--sub-title-color);
}

.solutions-part .solutions-part__info a:hover {
  color: var(--primary-color);
}

/* ----------------CONTACT---------------- */
.contact {
  background: url(../../img/bg1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
  position: relative;
  padding: 70px 0;
}

.contact::before {
  content: "";
  background: rgba(29, 42, 55, 0.7);
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
}

.contact .contact__info {
  padding: 30px 0px;
  border-bottom: 1px solid #aaaaaa;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 30px;
  align-items: center;
}

.contact .contact__info.contact__info--3 {
  border-bottom: 1px solid transparent;
}

.contact .contact__info i {
  font-size: 40px;
  color: #ffffff;
}

.contact .contact__info-detail h5 {
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
}

.contact .contact__info-detail p,
.contact .contact__info-detail p a {
  color: #eeeeee;
  margin-top: 10px;
  font-size: 18px;
  opacity: 0.8;
}

/* Form */
.contact .contact__form {
  background: var(--background-color);
  border-radius: 8px;
  padding: 60px;
}

.contact .contact__form h3 {
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  color: var(--title-color);
}

.contact .contact__form p {
  color: var(--sub-title-color);
}

.contact .contact__form input,
.contact .contact__form textarea {
  margin-bottom: 20px;
  color: var(--text-color);
  background: var(--bg-grey-color);
  text-transform: capitalize;
  height: 60px;
  border: none;
  outline: none;
  width: 100%;
  font-size: 17px;
  padding: 12px 25px;
  box-shadow: none;
}

.contact .contact__form textarea {
  min-height: 100px;
}

.contact .contact__right button {
  margin: auto;
}
