/* SERVICES PAGE CSS */
/* Note: Màu background của body lấy màu từ global css */
body {
  background-color: var(--background-color);
}

/* INTRODUCE */
.introduce {
  background: var(--bg-grey-color);
  padding-top: 70px;
}

.introduce .introduce__left {
  background: var(--background-color);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 81px 50px;
  text-align: center;
}

.introduce .introduce__left img {
  width: 50px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.introduce .introduce__left h3 {
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  color: var(--title-color);
}

.introduce .introduce__left p {
  color: var(--sub-title-color);
}

.introduce .introduce__right img {
  width: 100%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
