/* --------------------CAROUSEL OTHER PAGES-------------------- */
.carousel-other-pages .carousel-content {
  position: relative;
  background-image: url(../../img/b1.jpg);
  object-fit: cover;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 40vh;
}

/* Caption */
.carousel-other-pages .carousel-content .carousel-caption {
  left: 0;
  right: 0;
  top: 45%;
  text-align: center;
  z-index: 1;
}

.carousel-other-pages .carousel-caption h3 {
  font-size: 5rem;
  font-weight: 600;
  margin-bottom: 5px;
  padding: 0;
}

.carousel-other-pages .carousel-caption p {
  color: white;
  font-size: 2rem;
  opacity: 0.8;
}

.carousel-overlay {
  position: absolute;
  inset: 0;
  top: 0;
  left: 0;
  background-color: var(--layer-color);
  height: 40vh;
}
