/* CONTACT PAGE CSS */

/* --------------------CONTACT-------------------- */
.contact {
  background-color: var(--bg-grey-color);
  padding-bottom: 0;
}

.contact .contact_title {
  max-width: 800px;
  margin: auto;
}

.contact .contact_title h3 {
  font-size: 35px;
  color: var(--title-color);
  font-weight: 700;
}

.contact .contact_title p {
  margin-top: 8px;
}

.contact .contact-infos {
  margin-top: 50px;
}

.contact .contact-infos .col .item {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 20px;
  background-color: var(--background-color);
  padding: 30px 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
}

.contact .contact-infos .col .item i {
  font-size: 200%;
  color: var(--title-color);
}

.contact .contact-infos .col .item .text-box {
  text-align: left;
}

.contact .contact-infos .col .item .text-box h3 {
  font-size: 30px;
  font-weight: 600;
  color: var(--title-color);
}

.contact .contact-infos .col .item .text-box p {
  color: var(--text-color);
  margin: 0;
}

.contact .contact-infos .col .item .text-box a {
  color: var(--text-color);
}

@media (max-width: 991px) {
  .contact-infos .contact__item {
    transform: translateX(50%);
  }
}

@media (max-width: 768px) {
  .contact-infos .contact__item {
    transform: translateX(0);
  }
}

/* --------------------MAP-------------------- */
.contact-map {
  background-color: var(--bg-grey-color);
}

.contact-map .map {
  padding: 50px 0;
}

.contact-map .map .iframe-change {
  border: none;
  display: block;
  width: 100%;
  min-height: 400px;
}
