/* ----------------RESPONSIVE HOME PAGE---------------- */

/* Extra large - xl - ≥1200px */
@media screen and (max-width: 1200px) {
}

/* Medium - md - ≥768px  */
@media screen and (max-width: 768px) {
  /* ABOUT */
  .about .col-lg-6:not(:first-of-type) {
    margin-top: 48px;
  }

  /* FEATURE */
  .feature .col-lg-6:not(:first-of-type) {
    margin-top: 48px;
  }

  /* SERVICE */
  .service .col-lg-4:not(:last-of-type) {
    margin-bottom: 48px;
  }

  /* SKILL */
  .skill .col-12:not(:last-of-type) {
    margin-bottom: 48px;
  }

  /* NEWS */
  .news .col-12:not(:last-of-type) {
    margin-bottom: 48px;
  }
}
