/* HOME PAGE CSS */
/* Note: Màu background của body lấy màu từ global css */
body {
  background-color: var(--background-color);
}

/* --------------------CAROUSEL-------------------- */
/* Item */
.carousel-corp .carousel-item {
  height: 800px;
}

.carousel-corp .carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Caption */
.carousel-corp .carousel-item .carousel-caption {
  left: 0;
  right: 0;
  top: 50%;
  text-align: left;
  z-index: 1;
  transform: translateY(-50%);
}

.carousel-corp .carousel-caption h3 {
  font-size: 6.5rem;
  font-weight: 600;
  max-width: 800px;
  margin-bottom: 0.3em;
}

.carousel-corp .carousel-caption p {
  color: white;
  font-size: 2rem;
  max-width: 600px;
  margin-bottom: 1.7em;
}

/* Control Button */
.carousel-corp .carousel-control-next,
.carousel-corp .carousel-control-prev {
  background: black;
  border: 1px solid var(--border-color);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: var(--background-color);
  opacity: 1;
  left: unset;
  top: unset;
  bottom: 50px;
  z-index: 2;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.carousel-corp .carousel-control-next {
  right: 25px;
}

.carousel-corp .carousel-control-prev {
  right: 95px;
}

.carousel-corp .carousel-control-next i,
.carousel-corp .carousel-control-prev i {
  color: var(--title-color);
}

.carousel-overlay {
  position: absolute;
  inset: 0;
  background-color: var(--layer-color);
}

.carousel-corp .carousel-shape {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.carousel-corp .carousel-shape svg {
  fill: var(--background-color);
}

/* --------------------About-------------------- */
/* Information - Left Content */
.about .title {
  color: var(--title-color);
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 30px;
  margin-bottom: 0px !important;
  text-align: left;
}

.about .content {
  color: var(--text-color);
  font-size: 1.7rem;
  font-weight: 400;
  opacity: 0.8;
  margin: 24px 0 32px;
}

.about ul {
  padding: 0;
}

.about li {
  list-style: none;
  font-size: 18px;
  font-weight: 600;
}

.about li:not(:last-of-type) {
  margin-bottom: 15px;
}

.about li a {
  color: var(--title-color);
}

.about li i {
  color: var(--primary-color);
  opacity: 0.8;
  margin-right: 4px;
}

/* Images - Right Content */
.about img {
  border-radius: 10px;
  max-width: 100%;
}

.about .img-down {
  margin-top: 24px;
  border-radius: 10px;
  margin-bottom: 32px;
}

#about {
  scroll-behavior: smooth;
}

/* --------------------FEATURE-------------------- */
.feature {
  background-color: var(--bg-grey-color);
}

/* Information - Left Content */
.feature h4 {
  color: var(--sub-title-color);
  text-align: left;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 30px;
  margin-bottom: 0px !important;
}

.feature h2 {
  color: var(--title-color);
  font-size: 35px;
  line-height: 45px;
  font-weight: 700;
}

.feature p {
  color: var(--text-color);
  margin-top: 24px;
  margin-bottom: 48px;
  font-size: 17px;
  line-height: 27px;
  opacity: 0.8;
}

/* Cards - Right Content */
.feature .d-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}
.feature .grids-1 {
  transition: all 0.5s;
}

.feature .box-wrap {
  background-color: var(--background-color);
  padding: 40px 30px;
  border-radius: 10px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 100%;
}

.feature .grids-1:hover {
  transform: translateY(-2%);
  box-shadow: 0px 5px 10px 0px rgb(0, 0, 0, 15%),
    0px 5px 10px 0px rgb(75, 75, 75, 30%);
}

.feature .box-wrap a {
  color: var(--title-color);
  display: block;
  margin-top: 25px;
  font-size: 22px;
  line-height: 22px;
  font-weight: 600;
  transition: color 0.3s;
}

.feature .box-wrap a:hover {
  color: var(--primary-color);
}

.feature .icon img {
  width: 64px;
}

/* --------------------SERVICE-------------------- */
/* Cards Content */
.service .grids5-info img {
  width: 100%;
  border-top: 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.service .grids5-info .title {
  color: var(--title-color);
  background: var(--background-color);
  box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
  border: 1px solid var(--border-color);
  font-size: 19px;
  line-height: 28px;
  font-weight: 600;
  text-align: center;
  padding: 12px 35px;
  display: inline-block;
  border-radius: 10px;
  margin-bottom: 0 !important;
  transform: translateY(-25px);
  transition: 0.5s;
}

.service .grids5-info:hover .title {
  color: #33b271;
}

.service .text-para {
  font-size: 1.7rem;
  padding: 0 20px;
  color: var(--text-color);
}

.service button {
  color: var(--title-color);
  padding: 8px 35px;
  font-size: 16px;
  line-height: 28px;
  font-weight: 600;
  background-color: transparent;
  border: 3px solid transparent;
  outline: none;
  border-radius: 10px;
  transition: 0.5s;
}

.service button:hover {
  color: #33b271;
}

.service button:focus {
  border: 3px solid rgb(0 166 63 / 25%);
}

/* --------------------GALLERY-------------------- */
.gallery {
  background-color: var(--bg-grey-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

/* Title */
.gallery .title {
  margin-bottom: 48px;
}

.gallery .title h4 {
  color: var(--text-color);
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 30px;
  margin-bottom: 0px !important;
}

/* Gallery Items */
.gallery .item {
  margin-bottom: 24px;
}

.gallery .item a {
  overflow: hidden;
  position: relative;
  display: block;
}

.gallery .item img {
  width: 101%;
  display: block;
  transition: all 0.4s;
}

.gallery .hover-content {
  position: absolute;
  bottom: -100%;
  left: 0;
  right: 0;
  opacity: 0;
  transition: 0.5s;
  padding: 46px 50px;
  visibility: hidden;
}

.gallery .hover-content h3 {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 10px;
  color: #ffffff;
}
.gallery .hover-content span {
  font-size: 1.8rem;
  color: #eeeeee;
}

.gallery .item a:hover .hover-content {
  position: absolute;
  bottom: 0%;
  visibility: visible;
  opacity: 1;
}

.gallery .item a:hover img {
  transform: scale(1.1);
}

.gallery .hover-layout {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--layer-color);
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
  padding-right: 15px;
  padding-left: 15px;
}

.gallery .item a:hover .hover-layout {
  opacity: 1;
  visibility: visible;
  overflow: hidden;
}

/* Divider */
.gallery .divide {
  width: 100%;
  margin-top: 24px;
  border-top: 1px solid var(--border-color-light);
}

/* Logo Brand */
.gallery .logo {
  padding-top: 24px;
}

.gallery .logo .col-lg-2 {
  margin-top: 24px;
}

.gallery .logo img {
  width: 100%;
  justify-content: center;
  padding: 0 18px 0;
}

/* --------------------SKILL-------------------- */
/* Image - Left Content */
.skill .skill__img {
  height: auto;
}

.skill .skill__img img {
  height: 100%;
  border-radius: 8px;
}

/* Progress - Right Content */
/* Title */
.skill .title {
  margin-bottom: 24px;
}

/* Progress Bars */
.skill .skill__progress-group:not(:last-of-type) {
  margin-bottom: 30px;
}

.skill .skill__progress-group .skill__progress-title {
  color: var(--title-color);
  width: calc(var(--progress-bar) * 1%);
  display: flex;
  font-size: 1.8rem;
  justify-content: space-between;
}

.skill .skill__progress .progress {
  background-color: var(--bg-grey-color);
  color: var(--bar-color);
  position: relative;
  height: 4px;
  overflow: unset;
}

.skill .skill__progress .progress::before,
.skill .skill__progress .progress::after {
  content: "";
  position: absolute;
  left: calc(var(--progress-bar) * 1%);
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  display: block;
  border-radius: 50%;
}

.skill .skill__progress .progress::after {
  width: 13px;
  height: 13px;
  border: 3px solid var(--color);
  background-color: var(--background-color);
}

.skill .skill__progress .progress::before {
  width: 28px;
  height: 28px;
  border: 1px solid var(--color);
  opacity: 0.5;
}

.skill .skill__progress .progress-bar {
  background-image: var(--bar-color);
  width: calc(var(--progress-bar) * 1%);
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

/* --------------------FEEDBACK-------------------- */
.feedback {
  background-color: var(--bg-grey-color);
}

/* Điều chỉnh Control của Carousel */
.feedback .owl-dots {
  text-align: center;
}

.feedback .owl-dots button {
  outline: none;
  padding: 0 8px !important;
}

.feedback .owl-dots button span {
  background-color: #213364;
  display: block;
  width: 10px;
  height: 10px;
  opacity: 0.5;
  border-radius: 50%;
  transition: all 0.3s;
}

.feedback .owl-dots button:hover span,
.feedback .owl-dots button.active span {
  opacity: 1;
  transform: scale(1.5);
}

/* Slide */
.feedback__slide {
  max-width: 800px;
  margin: 0 auto 50px;
}

.feedback__slide blockquote {
  color: var(--text-color);
  font-size: 1.8rem;
  text-align: center;
  padding: 20px;
  margin-bottom: 0;
}

/* Author */
.feedback_img {
  overflow: hidden;
  width: 70px;
  height: 70px;
  margin-right: 20px;
  border-radius: 50%;
}

.feedback__author-desc h4 {
  color: var(--title-color);
  font-size: 2rem;
  font-weight: 600;
}

.feedback__author-desc span {
  color: var(--text-color);
  font-size: 1.7rem;
}

/* --------------------NEWS-------------------- */
.news .card {
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
}

.news .card .card-thumnail {
  overflow: hidden;
}

.news .card .card-img-top {
  border: none;
  border-radius: unset;
  width: 100%;
  transform-origin: center;
  transition: transform 0.3s;
}

.news .card .card-img-top:hover {
  transform: scale(1.2);
}

.news .card-body {
  padding: 20px;
}

.news .card-body .card-text {
  font-size: 1.7rem;
  color: #999999;
}

.news .card-body .card-text a:hover {
  color: #999999;
}

.news .card-body .card-title {
  font-size: 2rem;
  margin: 10px 0 0;
  color: var(--title-color);
  font-weight: 600;
}

.news .card-body .card-title a {
  transition: color 0.3s;
}

/* Divider */
.news .divide {
  border-top: 1px solid var(--border-color-light);
}

.news .card-footer {
  background-color: var(--background-color);
  color: #999999;
  display: flex;
  align-items: center;
  padding: 12px 20px;
  font-size: 1.5rem;
  font-weight: 600;
  border-top: none;
}

.news .card-footer img {
  border-radius: 50%;
}

.news .card-footer .card-author {
  color: var(--title-color);
  font-size: 1.6rem;
  transition: color 0.3s;
  margin-left: 4px;
}

.news .card-footer__right {
  margin-left: auto;
}

.news .card-footer .card-date {
  font-weight: 400;
}

.news .card-body .card-title a:hover,
.news .card-footer .card-author:hover {
  color: var(--primary-color);
}

.news .card-footer__left span {
  margin-left: 4px;
}
