/* ABOUT PAGE CSS */
/* Note: Màu background của body lấy màu từ global css */
body {
  background-color: var(--background-color);
}

/* ------------------ABOUT COMPANY------------------ */
/* Image Box - Left Content */
.about-company .about-company__img img {
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  box-shadow: 0 15px 38px 0 rgb(0 0 0 / 20%);
}

.about-company .about-company__img::before {
  content: "";
  border-radius: 25% 70% 84% 22% / 42% 75% 25% 75%;
  box-shadow: 0 15px 38px 0 rgb(0 0 0 / 20%);
  background: var(--primary-color);
  position: absolute;
  width: 80%;
  height: 100%;
  opacity: 0.4;
  top: 0;
  z-index: -1;
}

.about-company .about-company__img-box {
  position: absolute;
  background-color: var(--primary-color);
  box-shadow: 30px 30px 30px rgb(0 0 0 / 20%);
  transform: rotate(45deg);
  color: #ffffff;
  text-align: center;
  right: 85px;
  bottom: 10px;
  padding: 35px;
  min-width: 200px;
  border-radius: 8px;
  min-height: 200px;
}

.about-company .about-company__img-info {
  transform: rotate(-45deg);
}

.about-company .about-company__img-info h6 {
  color: #ffffff;
  font-size: 40px;
  line-height: 40px;
  font-weight: 600;
  padding: 0 0 10px 0;
}

.about-company .about-company__img-info p {
  color: #ffffff;
  font-size: 24px;
  line-height: 28px;
}

/* Information - Right Content */
.about-company .content {
  color: var(--text-color);
  font-size: 1.7rem;
  font-weight: 400;
  opacity: 0.8;
}

.about-company__right .subtitle {
  color: var(--title-color);
  font-size: 2.5rem;
  margin: 0;
}

/* Button Play */
.play-icon {
  display: inline-block;
  width: 70px;
  height: 70px;
  font-size: 22px;
  padding-left: 5px;
  text-align: center;
  line-height: 65px;
  border-radius: 50%;
  color: #009f4d;
  border: 3px solid #009f4d;
}

#small-dialog,
#small-dialog1 {
  width: 900px;
  height: auto;
  margin: 40px auto;
  position: relative;
}

#small-dialog iframe,
#small-dialog1 iframe {
  width: 100%;
  height: 520px;
  display: block;
  border-radius: 10px;
}

/* Card Items */
.about-company .about-company__card {
  margin-top: 60px;
}

.about-company .about-company__item {
  background-color: var(--bg-grey-color);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 20px;
  padding: 50px 35px;
  position: relative;
  border-radius: 8px;
}

.about-company .about-company__item i {
  color: #009f4d;
  font-size: 38px;
  width: 40px;
}

.about-company .about-company__item-info a {
  color: var(--title-color);
  display: block;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 15px;
  font-size: 22px;
  letter-spacing: 0;
  transition: 0.3s ease;
}

.about-company .about-company__item-info a:hover {
  color: var(--primary-color);
}

.about-company .about-company__item-info p {
  color: var(--sub-title-color);
}

/* ------------------STATISTIC------------------ */
.statistic {
  background: var(--bg-grey-color);
}

.statistic .statistic__info {
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.statistic .statistic__info span {
  color: var(--primary-color);
  font-size: 35px;
  display: block;
  margin-bottom: 15px;
}

.statistic .statistic__info h4 {
  margin-bottom: 12px;
  font-size: 22px;
  line-height: 28px;
  color: var(--title-color);
  font-weight: 600;
}

.statistic .statistic__info p {
  color: var(--sub-title-color);
}

.statistic .statistic__img {
  border-radius: 8px;
}

/* ------------------GENERATION------------------ */
.generation {
  background: url(/img/bg1.jpg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
  display: grid;
  align-items: center;
}

.generation::before {
  content: "";
  background-color: rgba(29, 42, 55, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.generation .generation__info p {
  color: #eeeeee;
  opacity: 0.8;
}

.generation .generation__detail {
  max-width: 700px;
}

.generation .play-icon {
  color: #fff;
  border: 3px solid #ffffff;
}

.generation .play-icon:hover {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

/* ------------------TEAM------------------ */
.team .team__img img {
  background: #f7f7f7;
}

.team .team__img img {
  transition: all 0.2s ease-in-out;
  overflow: hidden;
  width: 100%;
  border-radius: 8px;
}

.team .team__overlay {
  position: absolute;
  background-color: rgba(20, 20, 20, 0.7);
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  border-radius: 8px;
}

.team .team__img:hover .team__overlay,
.team .team__img:hover .team__details {
  opacity: 1;
}

.team .team__img:hover .team__details {
  transform: translateY(-50%);
}

.team .team__details {
  position: absolute;
  opacity: 0;
  top: 55%;
  left: 0;
  padding: 10%;
  overflow: hidden;
  width: 100%;
  z-index: 2;
  transition: all 0.2s ease-in-out;
}

.team .team__details p {
  color: #fff;
  font-size: 20px;
}

.team .team__socials a {
  display: inline-block;
  width: 37px;
  height: 37px;
  background-color: transparent;
  border-radius: 50%;
}

.team .team__socials a:hover {
  background-color: rgba(255, 255, 255, 0.336);
}

.team .team__socials i {
  line-height: 37px;
  color: #fff;
  font-size: 14px;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  text-align: center;
  transition: all 0.2s linear;
}

.team .team__name {
  margin: 25px 0 5px;
  font-size: 20px;
  font-weight: 600;
  color: var(--title-color);
  transition: 0.3s ease;
}

.team .team__name:hover {
  color: var(--primary-color);
}

.team p {
  color: var(--sub-title-color);
}

/* ------------------FEATURE------------------ */
.features {
  background: var(--bg-grey-color);
}

.features .title {
  max-width: 800px;
  margin: auto;
}

.features .features__left .row,
.features .features__right .row {
  align-items: center;
}

.features .features__icon {
  font-size: 30px;
  text-align: center;
}

.features .features__icon i {
  color: #009f4d;
  border: 1px solid;
  width: 80px;
  height: 80px;
  line-height: 80px;
  border-radius: 8px;
  margin-top: 4px;
}

.features .features__details h6 {
  margin-bottom: 12px;
}

.features .features__details p {
  color: var(--sub-title-color);
}

.features .features__details h6 a {
  text-align: left;
  margin-bottom: 0;
  color: var(--title-color);
  font-weight: 600;
  font-size: 24px;
  transition: 0.3s ease;
}

.features .features__details h6 a:hover {
  color: var(--primary-color);
}

.features .features__icon.--2 i {
  color: #ff4c4c;
}

.features .features__icon.--3 i {
  color: #213364;
}

.features .features__icon.--4 i {
  color: #f48924;
}
